.carousel-container {
  /* overflow: hidden; */
  position: static !important;
}

.react-multi-carousel-track {
  display: flex;
}

.react-multiple-carousel__arrow {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.react-multiple-carousel__arrow:hover {
  transform: scale(1.1);
}

.react-multiple-carousel__arrow--left {
  position: absolute;
  left: 10px;
}

.react-multiple-carousel__arrow--right {
  position: absolute;
  right: 10px;
}
